@font-face {
  font-family: AvenirBlack;
  src: url(/static/stylesheets/AvenirBlack.woff);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  src: url(/static/stylesheets/AvenirLight.woff?v=54891131197662620501701122455);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: AvenirMedium;
  src: url(/static/stylesheets/AvenirMedium.woff?v=80166757555169295351701122453);
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font: 0.8em/1.3em "AvenirMedium", Arial, Arial, sans-serif; 
  
}

h1 { font-weight: normal; font-size: 24px; }
h1 a { color: #FFFAD5; text-decoration: none; }
h2 { font-weight: normal; margin-top: 24px; }
h3 { margin-top: 24px; }

.flex {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: space-between;
}

#menu {
  display:flex;
  flex-direction: row;
}
.menu-item a {
  text-decoration: none;
  text-transform: uppercase;
  color:#000;
  padding:6px;
  background:#ffffff;
  padding-left:24px;
  padding-right:24px;
}
.menu-label {
  text-decoration: none;
  text-transform: uppercase;
  color:#000;
  padding:6px;
  background:#ffffff;
  padding-left:24px;
  padding-right:24px;
  font-weight: 900;
}

#menu .menu-item a:hover {
  background:#000000;
  color: #ffffff;
}



#header {
  background: #e0e0e0;
  display:flex;
  justify-content: center;
  padding: 25px 25px 25px 70px;

}

#header h1 { color: #fffad5; }

#login-link {
  float: right;
  position: relative;
  bottom: 43px;
  right: 15px;
  color: #ededed;
}

#login-link a { color: #ebff7c; }
#login-link a:hover { text-decoration: underline; }
#login-link a.shop_name { color: inherit; text-decoration: none; }
#login-link a.shop_name:hover { text-decoration: underline; }

#container {
  width: 90%;
  min-width: 800px;
  margin: 40px auto;
  background: #fff;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

#container h1 { margin: 18px 0 27px 0; }

#main { padding: 18px; }

#tabs {
  margin: 0;
  padding: 0;
  height: 20px;
  position: absolute;
  top: 123px;
}

#tabs li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style-type: none;
}

#tabs a:link, #tabs a:visited {
  float: left;
  padding: 3px 8px  ;
  margin: 0 10px 4px 0px;
  text-decoration: none;
  color: #888;
  background: #ddd;
}

#tabs a:link#current, #tabs a:visited#current, #tabs a:hover { color: #000 !important; }
#tabs a:link#current, #tabs a:visited#current { font-weight: bold; background: #fff; }

a { color: #22658b; }
a:hover { color: #359cd7; }

dl { margin: 10px 15px; }
dt { margin: 10px 0; }
dd { margin: 5px 0 15px 0; }
dl input { margin: 0 !important; }

code { font-size: 140%; }

/* UTILITY CLASSES */

.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.ta-left { text-align: left; }
.ta-right { text-align: right; }
.ta-center { text-align: center; }
.pl { padding-left: 10px !important; }
.note { color: #777; font-size: 85%; }
.highlight { background: #ffc; }

/*
 * LOGIN / WELCOME
 */

#left, #right {
  width: 40%;
  float: left;
  margin: 0 2% 30px 2%;
}

#left { min-width: 390px; }

#logout { float: right; margin: 10px; }
#logout a { color: #330; }

/*
 * DASHBOARD
 */

.order, .product { width: 55%; }
.product { margin: 10px; } 

.product img {
  margin: 0 10px 0 0;
  float: left;
}

.product h4 {
  margin: 0 0 12px 0;
  font-size: 14px;
}

.price {
  color: #666;
  font-size: 15px;
  font-family: Times, "Times New Roman";
  font-style: italic;
}

#orders ul {
  list-style-type: none; 
  padding: 0 0 0 7px;
}

#orders li { padding: 3px; }

#sidebar {
  float: right; 
  width: 280px; 
  background: #f5fbfe; 
  border-left: 1px solid #D7E4EA; 
  color: #003366; 
  padding: 0 20px 20px 20px;
  margin-bottom: 18px;
}

#sidebar ul {
  padding-left: 20px;
  list-style-type: square;
}

#sidebar li { margin: 8px 0; }

/* STYLE OVERVIEW */

#style-table { margin: 20px 0; }
#style-table td * { margin: 0; }
#style-table td { padding: 10px; border-bottom: 1px dotted #e5e5e5; }
#style-table td:first-child {
  background:#Fefefe url('../images/box-bg2.gif') repeat-x scroll left bottom;
}
/* Flash Messages */

.error-message, .info-message {
  background: #faf7ea;
  border-bottom: 1px solid #e8e6d9;
	padding: 10px;
  font-weight: bold;
  text-align:center;
}

.error-message { color: #6e290b; }
.info-message { color: #549d19; }

/* CLASSES */

.description {
	margin: 0px 0px 0px 4px; 
	font-weight: normal;
}

.box {
  padding: 0;
  background:#FAFAFA url('../images/box-bg2.gif') repeat-x scroll left top;
  border:1px solid #CCCCCC;
}


.info {
	padding: 0;
	margin: 8px auto;
	background: #009ad6 url('../images/info-bg.gif') top left repeat-x;
  border: 1px solid #61abda;
  font: 1.2em/1.7em "Comic Sans MS"; 
  color: #fff;
  height: 85px;
}

.info code {
  font-size: 14px;
  background: none;
}

.info a { color: #fff; }
.info a:hover { color: #dcfaff; }

.grey {
  background: #eee;
  border: 1px solid #ccc;
}

.green, .orange, .blue { padding: 10px; }
h1.green, h2.green, h3.green, h1.orange, h2.orange, h3.orange, h1.blue, h2.blue, h3.blue { padding: 0; }

.green {
  background: #61b41e;
  border: 1px solid #60b31d;
  color: #ddecd0;
}

h1.green, h2.green, h3.green {
  color: #6ece21;
  background: none;
  border: none;
}

.orange {
  background: #ce6e21;
  border: 1px solid #bc641e;
  color: #fce0ca;
  padding: 10px;
}

h1.orange, h2.orange, h3.orange {
  color: #ce6e21;
  background: none;
  border: none;
}

.blue {
  background: #218bce;
  border: 1px solid #1e80be;
  color: #d9ecf8;
  padding: 10px;
}

h1.blue, h2.blue, h3.blue {
  color: #218bce;
  background: none;
  border: none;
}

.light {
  background: #faf7ea;
  border: 1px solid #e8e6d9;
  padding: 18px;
}

.dark {
  background: #333;
  border: 1px solid #000;
  color: #fff;
  padding: 10px;
}
img.logo {
  height:100px;  
}


.form-holder {
  display:flex;
  flex-direction: column;
  gap:8px;
}
.form-holder .title {
  font-size: 24px;
  font-family: AvenirBlack;
  text-align:start;
}
.form-row {
  display: flex;
  gap:24px;
  justify-content: start;
}
.spacer {
  flex-grow: 1;
}
.form-buttons {
  display:flex;
  justify-content: flex-end;
  gap:8px;
}
.form-holder .form-buttons button {
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 8px;
}
.form-holder {
  width:max-content;
  min-width: 700px;
  margin:auto;
}
.form-holder input,.form-holder textarea, .form-holder select {
  padding: 8px;
  border-radius: 3px;
}
.form-holder input.error,.form-holder textarea.error, .form-holder select.error {
  background-color: #ffbbbb;
}
.form-holder .create-button {
  background-color: #008800!important;
}
.form-holder.has-id .create-button {
  display: none;
}

.form-holder .update-button {
  background-color: #999900!important;
  display: none;
}
.form-holder .delete-button {
  background-color: #990000!important;
  display: none;
}
.form-holder.has-id .update-button {
  display: block;
}
.form-holder.has-id .delete-button {
  display: block;
}
.form-holder textarea {
  width:400px;
}
.form-holder label,.form-holder input {
  font-family: AvenirMedium;
  font-size:16px;
}
.injection-point {
  min-width:500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cnr-modal {
  position:absolute;
  top:0px;
  left:0px;
  background-color: #00000088;
  display:none;
  z-index: 1000000000;
  
}

.cnr-modal.active {
  display:flex;
  justify-content: center;
  align-items: center;
}
.cnr-modal .close {
  position: absolute;
  top:5px;
  right:10px;
}
.cnr-modal .modal-content {
  margin-top:24px;
  width: fit-content;
  min-width:25%;
  max-width: 75%;
  min-height:33%;
  padding:24px;
  background-color:#ffff;
  position: relative;
  padding:0px 40px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.form-buttons button:disabled {
  background-color:#000;
  opacity: 0.5;
}