@font-face {
    font-family: AvenirBlack;
    src: url(//cleansimpleeats.com/cdn/shop/t/1823/assets/AvenirBlack.woff?v=4036961253700306831701122455), url(//cleansimpleeats.com/cdn/shop/t/1823/assets/AvenirBlack.woff2?v=137909488553938199521701122448);
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: Avenir;
    src: url(//cleansimpleeats.com/cdn/shop/t/1823/assets/AvenirLight.woff?v=54891131197662620501701122455), url(//cleansimpleeats.com/cdn/shop/t/1823/assets/AvenirLight.woff2?v=176408445033277079011701122455);
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: AvenirMedium;
    src: url(//cleansimpleeats.com/cdn/shop/t/1823/assets/AvenirMedium.woff?v=80166757555169295351701122453),
      url(//cleansimpleeats.com/cdn/shop/t/1823/assets/AvenirMedium.woff2?v=82955254349761387361701122456);
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: EvelethBold;
    src: url(//cleansimpleeats.com/cdn/shop/t/1823/assets/EvelethBold.woff2?v=64312041280226348031701122449);
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: EvelethThin;
    src: url(//cleansimpleeats.com/cdn/shop/t/1823/assets/EvelethThin.woff?v=37445386388211379761701122456), url(//cleansimpleeats.com/cdn/shop/t/1823/assets/EvelethThin.woff2?v=88034049140567391911701122454);
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: 'AvenirMedium',sans-serif;
}
.cnr-json-object {
    min-width:500px;
    margin:8px;

    
    display:none;
}
.cnr-json-object.active {
    display:block;
}
.cnr-form-row {
    display: flex;
    flex-direction: row;
    gap:12px;
    justify-content: left;
    align-items: center;
    padding: 8px;
    flex-wrap: nowrap;
    align-items: center;
    order:3;
    
    margin-top:8px;
}
.cnr-form-row:first {
    border-top:none;
}
.cnr-form-row.header {
    font-weight:bold;
    border-bottom:1px solid #131313;
}
.cnr-form-row.header {
    font-weight:bold;
}
.cnr-form-row.options {
    order:1
}
.cnr-form-nutrition-facts  {
    margin-left:24px;
    order:2;
}

.cnr-form-nutrition-facts.nutritionsubfacts h2, .cnr-form-nutrition-facts.nutritionsubfacts .buttons, .cnr-form-nutrition-facts.nutritionsubfacts .description {
    display:none;
}


.cnr-form-nutrition-facts .header {
    display: flex;
    flex-direction: row;
    gap:24px;
    justify-content: left;

    align-items: center;
}
.injection-point {
    width:100%;
    overflow: scroll;
}
.empty-tab {
    border-bottom:1px solid #000000;
    flex-grow: 1;
}
.all-items-holder {
    
    display:flex;
    gap:24px;
    flex-direction: row;
    overflow:show;
    border:1px solid #000000;
    border-top: none;
}
[data-element-type="NutritionFormRow"] textarea {
    width:100%;
    height: max-content;
}
.all-items-holder input {
    width:fit-content;
    
}
.large-value {
    width:90%;
    min-width:250px;
}

.cnr-json-form-add,.all-items-holder button, .action-button {
    width:24px;
    height:24px;
    background-color: transparent;
    border:none;
    background-size: contain;
    background-repeat: no-repeat;
    cursor:pointer;
    margin-left:4px;
}
.cnr-row-drag-handle {
    width:24px;
    height:24px;
    background-color: transparent;
    border:none;
    background-size: contain;
    background-repeat: no-repeat;
    cursor:move;
    margin-left:4px;
    background-image: url(/static/images/draghandle.png);
}
.tab-button {
    width:16px;
    height:16px;
    background-color: transparent;
    border:none;
    background-size: contain;
    background-repeat: no-repeat;
    cursor:pointer;
    margin-left:4px;
}
.tab-button.delete {
    background-image: url(/static/images/delete.png); 
}
.tab-button.clone {
    background-image: url(/static/images/clone.png); 
}
.all-items-holder button.delete {
    background-image: url(/static/images/delete.png);
}
.all-items-holder button.clone {
    background-image: url(/static/images/clone.png);
}
.action-button.add,.all-items-holder button.add {
    background-image: url(/static/images/add-text.png);
}
.action-button.save {
    background-image: url(/static/images/save.jpg);
}
.action-button.refresh {
    background-image: url(/static/images/refresh.png);
}

input[name="amount_per_serving"] {
    width:48px;
}
input[name="daily_value"] {
    width:48px;
}
.spacer {
    flex-grow:1;
}
.tabs {
    display:flex;
}
.item-tab {
    display:flex;
    gap:4px;
    border:1px solid #000000;
    width:fit-content;
    padding:8px;
    cursor:pointer;
    background-color:#e0e0e0;
    color:#000000;

    
}
.item-tab.active {
    border-bottom:none;
    background-color:#ffffff;
    color:#000000;
}
.form {
    display: flex;
    flex-direction: column;
    
}
.cnr-json-object .preview {
    width:650px;
    max-width: 650px;
}

.d-none {
    display:none;
}




